In [4]:
import pandas as pd

In [5]:
data = pd.read_csv(r"C:\Users\0sagiede\Documents\finance_dataset_dirty.csv")

In [6]:
data

,TransactionID,TransactionDate,ClientID,TransactionAmount,TransactionType,AccountType,Location,ClientAge,ClientIncome,ApprovalStatus
0,954727.0,2022-08-13,NaN,-3740.356038,Refund,NaN,Enugu,56.0,2.781730e+07,Pending
1,742306.0,2023-07-12,NaN,6791.629187,Debit,Fixed Deposit,Abuja,NaN,3.208778e+05,Pending
2,383126.0,2023-06-15,5409.0,-684.205070,Credit,Savings,Lagos,67.0,7.028345e+04,Pending
3,752619.0,2022-08-20,6297.0,-4400.673938,NaN,Savings,NaN,65.0,3.114620e+05,Pending
4,228778.0,2023-06-04,9422.0,14203.820776,Credit,Current,Abuja,57.0,3.791157e+05,Rejected
...,...,...,...,...,...,...,...,...,...,...
20995,745115.0,2022-10-12,7371.0,-554.958841,NaN,NaN,Lagos,22.0,9.540661e+04,Approved
20996,254542.0,2022-07-14,7377.0,9144.179610,Credit,Savings,Abuja,60.0,4.325358e+05,Rejected
20997,787100.0,2022-05-04,6599.0,11684.127229,NaN,Fixed Deposit,Abuja,NaN,2.197587e+05,Rejected
20998,896177.0,2021-06-27,2737.0,2799.230671,Refund,Savings,Enugu,69.0,1.713572e+05,Approved
20999,711369.0,2021-01-22,4736.0,131.810964,Refund,Savings,Kano,45.0,3.670305e+05,Pending

In [7]:
data.head(25)

,TransactionID,TransactionDate,ClientID,TransactionAmount,TransactionType,AccountType,Location,ClientAge,ClientIncome,ApprovalStatus
0,954727.0,2022-08-13,NaN,-3740.356038,Refund,NaN,Enugu,56.0,2.781730e+07,Pending
1,742306.0,2023-07-12,NaN,6791.629187,Debit,Fixed Deposit,Abuja,NaN,3.208778e+05,Pending
2,383126.0,2023-06-15,5409.0,-684.205070,Credit,Savings,Lagos,67.0,7.028345e+04,Pending
3,752619.0,2022-08-20,6297.0,-4400.673938,NaN,Savings,NaN,65.0,3.114620e+05,Pending
4,228778.0,2023-06-04,9422.0,14203.820776,Credit,Current,Abuja,57.0,3.791157e+05,Rejected
5,943353.0,2022-11-30,1362.0,9210.637658,Credit,Fixed Deposit,Kano,65.0,1.524977e+05,Rejected
6,719696.0,NaN,NaN,-748.369628,Debit,Savings,Port Harcourt,54.0,2.755489e+05,Pending
7,872793.0,2021-04-22,9374.0,4087.558508,Credit,Savings,Enugu,25.0,3.929494e+05,Rejected
8,603623.0,2021-08-07,6010.0,-818.409795,Refund,Fixed Deposit,Enugu,64.0,1.979606e+07,Approved
9,823439.0,2023-09-01,7274.0,-3782.855478,Refund,Savings,Kano,52.0,1.219735e+05,Rejected
10,157676.0,2023-10-13,7407.0,NaN,NaN,Fixed Deposit,Kano,51.0,7.933254e+04,Pending
11,687069.0,2022-12-31,8899.0,1129.428337,Debit,Savings,Kano,29.0,1.276438e+05,Pending
12,790807.0,2021-08-14,1869.0,-1254.094077,Refund,Current,Abuja,24.0,2.300269e+05,Approved
13,231436.0,2021-04-16,7996.0,13999.890873,Refund,Savings,Kano,18.0,2.071667e+05,Pending
14,192036.0,NaN,6010.0,3938.508036,Credit,Current,Kano,76.0,3.567630e+05,Approved
15,871253.0,2021-05-23,7541.0,-3589.524724,Credit,NaN,Port Harcourt,NaN,4.935716e+04,Rejected
16,595384.0,2023-05-30,2230.0,6159.658389,NaN,Fixed Deposit,Port Harcourt,20.0,2.939027e+05,Pending
17,737293.0,2021-08-29,8106.0,-1862.724356,Debit,Current,Port Harcourt,25.0,2.361028e+05,Approved
18,872466.0,2023-09-16,2487.0,-342048.011524,Debit,Fixed Deposit,Abuja,NaN,2.519352e+05,Approved
19,386233.0,NaN,9920.0,NaN,Debit,Savings,Enugu,41.0,4.797050e+05,Pending
20,243704.0,2021-01-27,4046.0,4687.076250,NaN,Fixed Deposit,Enugu,26.0,4.776750e+05,Rejected
21,810731.0,2022-07-27,9438.0,8690.985647,Debit,Savings,Port Harcourt,73.0,1.889973e+05,Pending
22,202974.0,NaN,4923.0,1315.516619,NaN,Fixed Deposit,Enugu,57.0,1.940564e+05,Approved
23,153365.0,2023-08-22,1649.0,NaN,Debit,Current,Lagos,54.0,1.576378e+05,Rejected
24,471126.0,2022-02-01,5451.0,-238.652519,Debit,Fixed Deposit,NaN,NaN,6.232486e+04,Approved

In [8]:
data.tail(5)

,TransactionID,TransactionDate,ClientID,TransactionAmount,TransactionType,AccountType,Location,ClientAge,ClientIncome,ApprovalStatus
20995,745115.0,2022-10-12,7371.0,-554.958841,NaN,NaN,Lagos,22.0,95406.605904,Approved
20996,254542.0,2022-07-14,7377.0,9144.179610,Credit,Savings,Abuja,60.0,432535.810148,Rejected
20997,787100.0,2022-05-04,6599.0,11684.127229,NaN,Fixed Deposit,Abuja,NaN,219758.709528,Rejected
20998,896177.0,2021-06-27,2737.0,2799.230671,Refund,Savings,Enugu,69.0,171357.170499,Approved
20999,711369.0,2021-01-22,4736.0,131.810964,Refund,Savings,Kano,45.0,367030.462705,Pending

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TransactionID      18890 non-null  float64
 1   TransactionDate    18909 non-null  object
 2   ClientID           18895 non-null  float64
 3   TransactionAmount  18902 non-null  float64
 4   TransactionType    18896 non-null  object
 5   AccountType        18907 non-null  object
 6   Location           18891 non-null  object
 7   ClientAge          18906 non-null  float64
 8   ClientIncome       18901 non-null  float64
 9   ApprovalStatus     18896 non-null  object
dtypes: float64(5), object(5)
memory usage: 1.6+ MB

In [10]:
data.describe()

,TransactionID,ClientID,TransactionAmount,ClientAge,ClientIncome
count,18890.000000,18895.000000,1.890200e+04,18906.000000,1.890100e+04
mean,554274.338909,5494.901402,1.497568e+04,48.404528,7.715512e+05
std,260345.925334,2606.470873,1.081739e+05,17.848731,4.102826e+06
min,100005.000000,1000.000000,-4.995817e+05,18.000000,1.501774e+04
25%,331463.000000,3212.000000,9.272916e+01,33.000000,1.389500e+05
50%,556209.000000,5489.000000,5.093524e+03,48.000000,2.617160e+05
75%,780217.250000,7763.000000,1.036786e+04,64.000000,3.863267e+05
max,999993.000000,9998.000000,1.494519e+06,79.000000,4.998831e+07

In [22]:
data.shape

(21000, 10)

In [12]:
data.dtypes

TransactionID        float64
TransactionDate       object
ClientID             float64
TransactionAmount    float64
TransactionType       object
AccountType           object
Location              object
ClientAge            float64
ClientIncome         float64
ApprovalStatus        object
dtype: object

In [13]:
data.value_counts()

TransactionID  TransactionDate  ClientID  TransactionAmount  TransactionType  AccountType    Location       ClientAge  ClientIncome   ApprovalStatus
772633.0       2023-10-30       8038.0     1860.700937       Debit            Current        Kano           56.0       282642.926482  Rejected          2
936659.0       2022-05-12       7681.0     14855.146787      Credit           Savings        Port Harcourt  62.0       439576.587073  Rejected          2
504303.0       2021-01-18       1661.0     9074.524933       Debit            Savings        Kano           31.0       486959.741194  Pending           2
281871.0       2021-05-15       6990.0     7481.673000       Debit            Current        Kano           69.0       207936.337628  Approved          2
938357.0       2023-02-03       8548.0     6877.791784       Debit            Fixed Deposit  Lagos          56.0       348898.318664  Pending           2
                                                                                                                                                       ..
404962.0       2022-06-27       3143.0    -318.552278        Credit           Fixed Deposit  Kano           77.0       323542.941864  Pending           1
404960.0       2022-02-10       3463.0     13932.377839      Refund           Fixed Deposit  Lagos          76.0       457946.128519  Approved          1
404751.0       2022-11-12       4713.0     3860.978319       Refund           Savings        Enugu          63.0       128497.476961  Pending           1
404592.0       2022-04-18       8009.0     4826.454395       Debit            Current        Kano           32.0       249608.034619  Approved          1
999885.0       2023-01-02       6407.0    -1562.498875       Refund           Current        Lagos          57.0       236590.977500  Approved          1
Name: count, Length: 6958, dtype: int64

In [14]:
data.sample(200)

,TransactionID,TransactionDate,ClientID,TransactionAmount,TransactionType,AccountType,Location,ClientAge,ClientIncome,ApprovalStatus
19506,477591.0,2022-02-04,7611.0,7298.343926,Debit,Current,Abuja,21.0,235737.304308,Approved
3456,311830.0,2023-05-27,9417.0,4809.083743,Refund,Savings,Port Harcourt,60.0,385459.160575,Rejected
3297,241668.0,2023-10-21,3146.0,11792.772880,Debit,Current,Abuja,NaN,471849.728486,Pending
16972,688518.0,2023-08-31,NaN,4011.051657,Refund,Current,Lagos,28.0,443431.481654,Rejected
19275,921681.0,2023-08-12,5020.0,NaN,Credit,Fixed Deposit,Abuja,66.0,164445.788654,Pending
...,...,...,...,...,...,...,...,...,...,...
3605,457470.0,2021-04-01,NaN,NaN,Credit,Fixed Deposit,Port Harcourt,73.0,317010.921297,NaN
11481,556339.0,2022-11-14,7459.0,11811.836321,Refund,Fixed Deposit,Kano,57.0,391986.587517,NaN
136,181748.0,2021-08-16,5461.0,-2176.394710,Credit,Current,Lagos,38.0,370235.072667,NaN
19632,818216.0,NaN,4112.0,-1375.544285,Refund,Savings,Lagos,75.0,NaN,Rejected
5079,377533.0,2021-12-22,9682.0,11348.231828,Debit,Savings,Abuja,21.0,239635.231718,Approved

In [16]:
data.columns

Index(['TransactionID', 'TransactionDate', 'ClientID', 'TransactionAmount',
       'TransactionType', 'AccountType', 'Location', 'ClientAge',
       'ClientIncome', 'ApprovalStatus'],
      dtype='object')

In [18]:
data.index

RangeIndex(start=0, stop=21000, step=1)

In [19]:
data.isnull().sum()

TransactionID        2110
TransactionDate      2091
ClientID             2105
TransactionAmount    2098
TransactionType      2104
AccountType          2093
Location             2109
ClientAge            2094
ClientIncome         2099
ApprovalStatus       2104
dtype: int64

In [23]:
data.isnull().sum()*100/len(data)

TransactionID        10.047619
TransactionDate       9.957143
ClientID             10.023810
TransactionAmount     9.990476
TransactionType      10.019048
AccountType           9.966667
Location             10.042857
ClientAge             9.971429
ClientIncome          9.995238
ApprovalStatus       10.019048
dtype: float64

In [24]:
data.nunique()

TransactionID        17832
TransactionDate       1095
ClientID              7791
TransactionAmount    18039
TransactionType          3
AccountType              3
Location                 5
ClientAge               62
ClientIncome         18040
ApprovalStatus           3
dtype: int64